<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="categorie"
		label="COM_CONFIG_CATEGORIE_FIELDSET_LABEL"
		description="COM_CONFIG_CATEGORIE_FIELDSET_DESC">

		<field
			name="visible_audio"
			type="radio"
			default="0"
			label="COM_CONFIG_SHOW_AUDIO_LABEL"
			description="COM_CONFIG_SHOW_AUDIO_DESC">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset
		name="audio"
		label="COM_CONFIG_AUDIO_FIELDSET_LABEL"
		description="COM_CONFIG_AUDIO_FIELDSET_DESC">

		<field
			name="list_style"
			type="list"
			default="divs"
			label="COM_CONFIG_LIST_STYLE_LABEL"
			description="COM_CONFIG_LIST_STYLE_DESC">
			<option
				value="divs">COM_EXPLORE_FIELD_VALUE_DIVS</option>
			<option
				value="list">COM_EXPLORE_FIELD_VALUE_LIST</option>
		</field>
	</fieldset>
</config>
